
h6 {
    text-align:center;
    margin-top:1%;
}

h2{
    text-align:center;
}
h5{
    margin-bottom: 1.2rem !important;
}
h4{
    margin: 1rem;
}

.card-title{
    text-align:left !important;
}


.nav-link-1{
    color:white;
    text-decoration: none;
    margin-top:5rem;

}

.nav-link2 {
    color: #52BE80 ;
    text-decoration: none;
    align-items: right !important;
    text-align: justify;
}
.nav-link-3{
    color: #85929E;
    text-decoration: none;
}

.navbar-nav{
    
    margin-left: 300px !important;
    
}

.btn{
    border-radius:.5em;
    margin-top: 1%;
    padding: .1em;
    font-size: .7em;
    margin-bottom: 2%;
}

.card-body{
    margin: 1.5rem;
}

.card-mb-3{
    border:lightgray solid .5px;
}

.logo{
    padding-left: 5rem;
}

.card-text1{
     padding-left: 50rem;
     padding-right: 5rem;
    text-align: right;
    font-size: 1.2rem;
    color:white;
    
}

.card-title1{
    padding-top: 20rem;
    padding-left: 30rem;
    padding-right: 5rem;
    text-align: right;
    
}

.conf{
    color:white;
}

.card-img{
    opacity: 50%;
}

.btn{
   
    text-align: left;
    border-radius: .5rem;
    color:white;
    border:lightgray solid .5px;
    font-size:1.1rem;
   
}
 .btm2{
    margin-left:70%;
    border-radius: .5rem;
    color:white;
    border:lightgray solid .5px;
    font-size:1.1rem;

} 

.d-grid1{
    margin-top:20%;
    padding-left: 50%;
  
} 

.botonColor{
    background-color: #729fcf;
}

.card-body-1{
    margin:1rem;
    text-align:left;
 }

 .fondo{
    background-color: #1C2833;
    color:white;
 }

 .boton3{
    color:white;
    padding: .4rem;
    margin:1rem;
 }

 p{
    text-align:center;
 }

 .subtitulo{
    text-align: left;
    color:gray;
    font-size:.8em;
    padding-top:.7rem;
 }

 .btnEnviar{
    font-size:1.5rem;
    border-radius:.2em;
    background-color: #8BC34A ;
 }

 .mx-4{
    background-color:#154360;
    color:white;
   
 }

 .nav-link-7{
    color:white;
    padding-top: 50%;
 }
 

 a{ 
    text-decoration: none;
 }
  a :hover{
    color: pink;
  }


  @media (min-width:820px){
    .card-title1{
        position:absolute;
        padding-top: 5%;
        padding-left: 82%;
        text-align: right;
        font-size:2rem;
    }
  }
  @media (max-width:819px){
    .card-title1{
        position:absolute;
        font-size:1rem;
        padding-top:1%;
        padding-left:0.1%;
        text-align: left;
    }
  }
  @media (min-width:820px){
    .card-text1{
        padding-left: 47%;
        text-align: right;
        font-size: 1rem;
        color:white;
        padding-top: 10%;
        position:absolute;
    }
  }
  
 @media (min-width:820px){
    .d-grid1{
        padding-left: 75%;
        text-align: right;
        font-size: 1rem;
        color:white;
        padding-top: 1%;
        position:absolute;
    }
 }
 @media (max-width:819px){
    .d-grid1{
        position:absolute;        
        padding-left: 0.1%;
        text-align: left;
        font-size: .6rem;
        color:white;
        padding-top: 5%;
    }
  }

   
    
 